.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url("../assets/images/bg-web.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 100px);
    padding: 0 50px;
    min-height: 100vh;
}

.logo {
    max-width: 344px;
    width: 100%;
    margin: 50px 0 30px 0;
}

.logo img {
    width: 100%;
}

.title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Futura PT Cond Extra";
    font-style: italic;
    text-align: center;
}

.wheel {
    max-width: 656px;
    width: 100%;
    margin: 40px 0 0 0;
    z-index: 2;
    position: relative;
}

.first-status,
.second-status {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 150px;
    border-radius: 23.493px;
    color: #fff;
    text-align: center;
    font-family: Futura PT;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 2px solid #b9b9b9;
    text-transform: uppercase;
    transition: all 0.3s;
    background: linear-gradient(180deg, rgba(48, 77, 192, 0.14) 1.78%, rgba(180, 180, 180, 0.07) 71.06%);
}

.first-status span,
.second-status span {
    color: #fff;
    text-align: center;
    text-shadow:
        0px 0px 7.559999942779541px #374ce6,
        0px 0px 15.119999885559082px #374ce6,
        0px 0px 52.91999816894531px #374ce6,
        0px 0px 105.83999633789062px #374ce6,
        0px 0px 181.44000244140625px #374ce6,
        0px 0px 317.5199890136719px #374ce6;
    font-family: Futura PT;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.second-status span {
    font-size: 35px;
}

.first-status {
    top: 130px;
    left: -200px;
}

.second-status {
    bottom: 130px;
    left: -200px;
}

.wheel-circle {
    position: absolute;
    left: 50%;
    top: calc(50% + 5px);
    margin-top: -50%;
    margin-left: -50%;
    transform: rotate(0deg) scale(1.05);
    z-index: 0;
}

.circle-button {
    max-width: 144px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    z-index: 3;
    cursor: pointer;
    transition: all 0.3s;
}

.disabled {
    filter: grayscale(100%);
    cursor: default;
}

.wheel-image {
    position: relative;
    z-index: 1;
}

.wheel img {
    width: 100%;
}

.wheel-tr {
    transition: transform 5s;
}

.rotate {
    transform: rotate(3914deg) scale(1.05);
}

.second-rotate {
    transform: rotate(6931deg) scale(1.05);
}

.action-button {
    background: #9f0112;
    padding: 6px 40px;
    line-height: normal;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Futura PT Cond Extra";
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 7px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 7px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 7px -7px rgba(0, 0, 0, 0.75);
    letter-spacing: 2px;
    transition: all 0.3s;
    z-index: 2;
}

.action-button:hover {
    /* background: linear-gradient(180deg, #8e0010 0%, #a50113 70.33%, #86000f 126.67%); */
    box-shadow:
        0px 0px 1.64158px 0px #f00,
        0px 0px 3.28317px 0px #f00,
        0px 0px 11.49108px 0px #f00,
        0px 0px 22.98217px 0px #f00,
        0px 0px 20.398px 0px #f00,
        0px 0px 40.9465px 0px #f00;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1380px;
    width: 100%;
    justify-content: space-between;
    gap: 78px;
    margin: 50px 0 20px 0;
    margin-top: auto;
    margin-top: 20px;
}

.payments,
.crypto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.payments {
    width: 100%;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.crypto {
    /* gap: 78px; */
    width: 30%;
    justify-content: space-between;
}

.payments img,
.crypto img {
    object-fit: contain;
}
